.edit-user {
  margin: 3rem 0;

  .info-user{
    background: #fff;
    border: 1px solid #E0E0E3;
    border-radius: 1rem;
    overflow: hidden;

    &__box {
      display: flex;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
    }

    .identity {
      padding: 1rem;

      &__title {
        font-size: 2rem;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
      }
    }

    .box-group {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;

      .group:last-child {
        margin-left: 0.5rem;
      }
    }

    .box-submit {
      padding: 2rem;
      background-color: #F5F5F5;

      &__save,
      &__cancell {
        margin: 0 1.5rem;
      }
    }
  }
}

