@import './upload.scss';

.group {
  width: 100%;
  margin-bottom: 3rem;
  position: relative;
  line-height: 1rem;

  &__valide {
    font-size: 1.2rem;
    font-weight: 400;
    color: #F76C36;
    margin-left: 1rem;

    margin-top: 5px;
    position: absolute;
    left: 0;
    top: 100%;
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    color: #707070;
    transition: all 0.25s ease-in-out;

  }

  &__input {
    width: 100%;
    min-height: 5.2rem;
    font-weight: 500;
    font-size: 1.6rem;

    padding: 3px 1rem;
    padding-top: 2.5rem;
    background-color: #F5F5F5;

    border: none;
    border-bottom: 1px solid #8E8E8E;
    border-radius: 1rem 1rem 0 0;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
    line-height: 1.8rem;

    &:focus ~.pseudo-input {
      position: absolute;
      bottom: 0;
      left: 0;
      // transform: translateX(-50%);
      background-color: #4F3CC9;
      width: 100%;
      height: 2px;
      transition: all 0.3s ease-in-out;
     }

    &:hover,
    &:focus {
      background-color: #DEDEDE;
    }

    &:focus ~label {
      @extend .label-input-value;
    }
  }

  .input-login {
    background-color: rgba(#F5F5F5, 0.6);

    &:hover,
    &:focus {
      background-color: #DEDEDE;
    }

    &:focus ~label {
      @extend .label-input-value;
    }
  }

  &__select {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 1.6rem;

    padding: 3px 1rem;
    padding-top: 2.5rem;
    background-color: #F5F5F5;

    border: none;
    border-bottom: 1px solid #8E8E8E;
    border-radius: 1rem 1rem 0 0;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;

    &:hover,
    &:focus {
      background-color: #DEDEDE;
    }

    &:focus ~label {
      @extend .label-input-value;
    }
  }

  &__checkbox,
  &__radio {
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    &--title {
      font-size: 1.6rem;
      font-weight: 500;
      margin-left: 0.5rem;
    }
  }

  .pseudo-input {
    position: absolute;
    bottom: 0;
    left: 0;
    // transform: translateX(-50%);
    width: 0%;
    transition: all 0.3s ease-in-out;
  }

  .valide-input {
    border-bottom:2px solid #F76C36;
  }
  .valide-label {
    color: #F76C36;
  }

  .label-input-value {
    padding-top: 0.8rem;
    top: 0;
    transform: translateY(0);
    font-size: 1.2rem;
    font-weight: 400;
  }
}


  .box-checkbox,
  .box-radio {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    width: 15rem;
  }
