@import './itemTotal.scss';

.edit-order {
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1.5rem 2rem;

  width: calc(100% * 9/12);
  border: 1px solid #e0e0e0;
  border-radius: 1rem;

  .group {
    margin: 0 1rem;
    margin-bottom: 3rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &__box {
    padding-left: 1rem;

    .totals {
      .table {
        &__td {
          &--name,
          &--price {
            width: 50%;

          }

          &--price {
            text-align: right;
          }
        }
      }
    }
  }

  &__box--title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__box--text {
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
  }
}
