.ant-back-top {
  right: 4rem;
}
.back-top {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 0.5rem;
  background-color: rgba(#4f3cc9, 0.8);
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
