@import './rootPaper.scss';
@import './pendingOrder.scss';
@import './showReviews.scss';
@import './showcustomer.scss';

.dashboard {
  margin: 3rem 0;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__box {
    width: calc(50% - 0.5rem);
  }

  .box-half {
    width: calc(50% - 0.5rem);
  }
  .box-big {
    width: 100%;
  }
}


@media (max-width: 1024px) {
  .dashboard {
    &__box {
      width: calc(50% - 0.2rem);
    }

    .box-half {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .dashboard {
    .box-half {
      width: calc(50% - 0.5rem);
    }
  }
}
