@import "./rootPaper.scss";
@import "./pendingOrder.scss";
@import "./showComments.scss";
@import "./showcustomer.scss";
@import "./myLineChart.scss";

.dashboard {
  margin-top: 3rem;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__box {
    width: calc(50% - 0.5rem);
  }

  .box-half {
    width: calc(50% - 0.5rem);
    display: block;
  }
  .box-big {
    width: 100%;
  }

  .link-page {
    display: block;
  }
}

@media (max-width: 1024px) {
  .dashboard {
    &__box {
      width: calc(50% - 0.2rem);
    }

    .box-half {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .dashboard {
    .box-half {
      width: calc(50% - 0.5rem);
    }
  }
}
