@import './sidebar.scss';
@import './Dashboard/style.scss';
@import './Users/Page/style.scss';
@import './Orders/Page/style.scss';
@import './Comments/Page/style.scss';
@import './Products/Page/style.scss';
@import './Slide/Page/style.scss';
@import './Login/Page/style.scss';

.main {
  background-color: #fcfcfe;
  display: flex;
  padding: 5rem 2rem;
  padding-left: 0;

  &__width--sidebar-big,
  &__width--sidebar-smell,
  &__width--dashboard-smell,
  &__width--dashboard-big {
    transition: 0.2s ease-in-out;
  }

  &__width--sidebar-big {
    width: 18%;
    margin-right: 1.5rem;
  }
  &__width--sidebar-smell {
    width: 7%;
    margin-right: 1.5rem;
  }

  &__width--dashboard-smell {
    width: calc(100% - 18%);
  }
  &__width--dashboard-big {
    width: calc(100% - 7%);
  }
}

.translateY-ux {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1024px) {
  .main {
    &__width--sidebar-big {
      width: calc(100% * 3/12);
      margin-right: 1.5rem;
    }

    &__width--dashboard-smell {
      width: calc(100% * 9/12);;
    }
  }
}

.owverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}
