.active-rotatez {
  transform: rotateZ(180deg);
}

.translateZero {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.icon-edit {
  color: #1890FF;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0 1.5rem;
  border-radius: 5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(#1890FF, .05);
  }

  &:hover:active::after {
    @include background-action;
    background-color: rgba(#1890FF, .2);
  }
}

.active-nav {
  border-left: 3px solid #4F3CC9;
  background-color: rgba(0, 0, 0, 0.04);
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;

  background-color: rgba(#000000, .1);
  transform: translateX(100%);

  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.28s ease-in-out;
}
