.disabled {
  cursor: not-allowed;
}

.active-rotatez {
  transform: rotateZ(180deg);
}

.translateZero.translateZero {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.translate-scale {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.icon-edit {
  color: #1890ff;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0 1.5rem;
  border-radius: 5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(#1890ff, 0.05);
  }

  &:hover:active::after {
    @include background-action;
    background-color: rgba(#1890ff, 0.2);
  }
}

.active-nav {
  border-left: 3px solid #4f3cc9;
  background-color: rgba(0, 0, 0, 0.04);
}

.overflow-trasperent,
.overflow {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 100vh;

  background-color: rgba(#000000, 0.1);
  transform: translateX(100%);

  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.28s ease-in-out;
}

.overflow-trasperent {
  background-color: transparent;
  transform: translateX(0);

  opacity: 1;
  visibility: visible;
  cursor: initial;
}
