.box-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.height-center {
  align-items: center;
}

.box-4 {
  width: calc(100% * 4 / 12 - 0.5rem);
}
.box-5 {
  width: calc(100% * 5 / 12 - 0.5rem);
}
.box-6 {
  width: calc(100% * 6 / 12 - 0.5rem);
  margin: 0 auto;
}
.box-7 {
  width: calc(100% * 7 / 12 - 0.5rem);
}
.box-8 {
  width: calc(100% * 8 / 12 - 0.5rem);
}
.box-12 {
  width: calc(100% - 1.5rem);
  margin: 0 auto;
}

@media (max-width: 1024px) {
    .box-md-4 {
      width: calc(100% * 4 / 12 - 0.2rem);
    }
    .box-md-5 {
      width: calc(100% * 5 / 12 - 0.2rem);
    }
    .box-md-6 {
      width: calc(100% * 6 / 12 - 0.2rem);
    }
    .box-md-7 {
      width: calc(100% * 7 / 12 - 0.2rem);
    }
    .box-md-8 {
      width: calc(100% * 8 / 12 - 0.2rem);
    }
    .box-md-10 {
      width: calc(100% * 10 / 12 - 0.2rem);
      margin: 0 auto;
    }
    .box-md-12 {
      width: 100%;
    }
}

@media (max-width: 991px) {
  .box-sm-10 {
    width: calc(100% * 10 / 12);
  }
  .box-sm-12 {
    width: 100%;
  }
}
