* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
}
input, button, textarea {
    font-family: 'Roboto', sans-serif;
}
ul {
    margin: 0;
    padding: 0
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: inherit
}
img {
    max-width: 100%;
    display: block;
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.9rem;
}

::-webkit-scrollbar-track {
  background-color: #fcfcfe;
}

::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 2.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
}

.posi-relative {
  position: relative;
}

.box-submit {
  padding: 2rem;
  background-color: #F5F5F5;

  &__save,
  &__delete {
    margin: 0 1.5rem;
  }
}

.one-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
