@import './CreateEdit/style.scss';
@import './Form/style.scss';
@import './menuProduct.scss';
@import './showItemProduct.scss';

.product {
  .box-search-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    .group-search {
      position: relative;
      width: 25%;
      height: 5.2rem;

      &__icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        padding: 1.5rem;
        font-size: 1.7rem;
        color: #a0a1a9;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
          color: #4F3CC9;
        }
      }
    }
  }

  .box-products {
    background-color: #fff;
  }

  .box__not-products {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--icon {
      font-size: 7rem;
      margin-bottom: 2rem;
      color: #c0b7f7;
    }
  }

  .my-pagination {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
}
